:root {
    --text-color: #FFFFFF;
    --background-color: #0C0C0C;
    --accent-color: #F6AA64;
    --accent-color-light: #ffb572;
    --accent-color-dark: #CC7A2E;
    --burnt-orange: #C2672E;
}

.team-member > img {
    width: 256px;
    height: 256px;
}

.section-heading {
    margin-top: 30px;
}

a {
    color: var(--accent-color);
}
a:focus, a:hover {
    color: var(--accent-color-dark)!important;
}

a.page-scroll:focus, a.page-scroll:hover {

}
a.underline {
    text-decoration: underline;
}

.join-our-team {
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-our-team > * {
    margin: 0!important;
    text-transform: none;
    padding: 10px;
}

.highlight {
    color: var(--accent-color-light)!important;
}

.timeline>li .timeline-image {
    background-color: var(--burnt-orange);
}

.text-muted {
    color: #818181;
}

